version: '3.2'

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.15.2
    platform: linux/arm64
    environment:
      - discovery.type=single-node
    ports:
      - "127.0.0.1:9200:9200"
      - "127.0.0.1:9300:9300"
    volumes:
      - type: volume
        source: elasticsearch-data
        target: /usr/share/elasticsearch/data

  logstash:
    image: docker.elastic.co/logstash/logstash:7.15.2
    platform: linux/arm64
    ports:
      - "127.0.0.1:5000:5000"
    volumes:
      - type: bind
        source: ./logstash/config
        target: /usr/share/logstash/config
      - type: bind
        source: ./logstash/pipeline
        target: /usr/share/logstash/pipeline

  kibana:
    image: docker.elastic.co/kibana/kibana:7.15.2
    platform: linux/arm64
    ports:
      - "127.0.0.1:5601:5601"
    environment:
      ELASTICSEARCH_HOSTS: http://elasticsearch:9200

volumes:
  elasticsearch-data:



#non mac 
# version: '3.2'

# services:
#   elasticsearch:
#     image: docker.elastic.co/elasticsearch/elasticsearch:7.10.2
#     environment:
#       - discovery.type=single-node
#     ports:
#       - "127.0.0.1:9200:9200"
#       - "127.0.0.1:9300:9300"
#     volumes:
#       - type: volume
#         source: elasticsearch-data
#         target: /usr/share/elasticsearch/data

#   logstash:
#     image: docker.elastic.co/logstash/logstash:7.10.2
#     ports:
#       - "127.0.0.1:5000:5000"
#     volumes:
#       - type: bind
#         source: ./logstash/config
#         target: /usr/share/logstash/config
#       - type: bind
#         source: ./logstash/pipeline
#         target: /usr/share/logstash/pipeline

#   kibana:
#     image: docker.elastic.co/kibana/kibana:7.10.2
#     ports:
#       - "127.0.0.1:5601:5601"
#     environment:
#       ELASTICSEARCH_HOSTS: http://elasticsearch:9200

# volumes:
#   elasticsearch-data:
